body {
       background: cadetblue;
}
.navbar {
    background-color: brown;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.dropdown-menu {
    color: white;
}
h1 {
    text-align: center;
    color: rgb(14, 56, 58);
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

#story {
    float: right;
    padding: 5px;
    background-color: green;
    margin-block: 90px;
    max-width: 50%;
}

#product {
    float: right;
    padding: 15px;
    background-color: green;
    margin-block: 90px;
    max-width: 50%;
}

#about-me {
    float: center;
    padding: 15px;
    text-align: center;
    font-size: 100px;
    max-width: 40%;
    border: red solid;
}
#work {
    float: center;
    text-align: center;
    color: green;
    font-size: 100px;
    max-width: 30%;
    border: black solid;
}
