.navbar {
    background-color: brown;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.dropdown-menu {
    color: white;
}
h1 {
    text-align: center;
    color: green;
}

#story {
    float: right;
    padding-left: 15px;
    background-color: green;
    max-width: 50%;
}

#product {
    float: right;
    padding: 15px;
    max-width: 50%;
}

#about-me {
    float: left;
    padding: 15px;
    background-color: blue;
    max-width: 50%;
}
#work {
    float: left;
    text-align: center;
    color: green;
    font-size: 200px;
}

body {
    border: solid 5px red;
    background: cadetblue;
}